.actions .shiki {
  background-color: var(--neozero-elements-actions-code-background) !important;
}

.shiki {
  &:not(:has(.actions), .actions *) {
    background-color: var(--neozero-elements-messages-code-background) !important;
  }
}
