#:schema node_modules/wrangler/config-schema.json
###############################################################################
# General Configuration
###############################################################################
name = "neo-0"
compatibility_flags = ["nodejs_compat"]
compatibility_date = "2025-08-15"
main = "./src/index.ts"

[observability]
enabled = true

[[rules]]
type = "Text"
globs = ["**/*.md"]
fallthrough = true

###############################################################################
# Migrations - Must update after making changes to Durable Object classes
###############################################################################
# [[migrations]]
# tag = "v0"
# new_sqlite_classes = ["WalrusDeployer", "DeploymentStatusServer", "Sandbox"]

###############################################################################
# Environment Specific Configuration (need to specify for each env)
###############################################################################
[[ratelimits]]
name = "MAIN_RATE_LIMITER"
namespace_id = "1001"
simple = { limit = 100, period = 60 }

[[env.dev.ratelimits]]
name = "MAIN_RATE_LIMITER"
namespace_id = "1001"
simple = { limit = 100, period = 60 }
