#:schema node_modules/wrangler/config-schema.json
###############################################################################
# General Configuration
###############################################################################
name = "neo-0-api"
compatibility_flags = ["nodejs_compat"]
compatibility_date = "2025-08-15"
main = "./src/index.ts"

[observability]
enabled = true

[[rules]]
type = "Text"
globs = ["**/*.md"]
fallthrough = true

###############################################################################
# Migrations - Must update after making changes to Durable Object classes
###############################################################################
# [[migrations]]
# tag = "v0"
# new_sqlite_classes = ["WalrusDeployer", "DeploymentStatusServer", "Sandbox"]

###############################################################################
# Environment Specific Configuration (need to specify for each env)
###############################################################################
[[ratelimits]]
name = "MAIN_RATE_LIMITER"
namespace_id = "1001"
simple = { limit = 100, period = 60 }

[[d1_databases]]
binding = "DB"
database_name = "neo-0-db"
migrations_dir = "./migrations"
database_id = "101b4358-d9c8-4c62-bf5f-70eadc6dbd71" # TODO: figure out a way to set this dynamically

[[kv_namespaces]]
binding = "KV"
id = "e597ecee720d4c779a8c7226a06e9153" # TODO: figure out a way to set this dynamically
